* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #090909;
    font-family: 'Libre Baskerville', serif;
    color: #e8e8e0;
    margin: 0;
    padding: 20px;
    min-height: 100vh;    /* mindestens volle Höhe, wächst wenn Inhalt mehr braucht */
    width: 100vw;
    box-sizing: border-box;
}

input {
    background-color: #2a2a2a;
    height: 28px;
    border: 1px solid #444;
    border-radius: 6px;
    color: #e8e8e0;
    padding: 1px 5px;
    font-family: 'Libre Baskerville', serif;
    font-size: 23px;
    outline: none;
    width: 100%;
    align-items: center;
}

button {
    background-color: #2a2a2a;
    border: 1px solid #444;
    border-radius: 6px;
    color: #e6a25e;
    padding: 0 10px;
    font-size: 25px;
    cursor: pointer;
    height: 28px;
    line-height: 1;
    display: flex;
    align-items: center;
}

form {
    display: flex;
    align-items: center;
    gap: 8px;
}

.dashboard {
    background-color: #1a1a1a;  /* Etwas heller als der Hintergrund */
    border: 1px solid #333;     /* Rahmen */
    border-radius: 32px;        /* Abgerundete Ecken */
    padding: 40px;
    margin: auto;
    width: 90vw;                /* 90% der Bildschirmbreite */
    min-height: 90vh;           /* 90% der Bildschirmhöhe */
}


.top {
    text-align: center;
    font-size: 70px;
    margin: 100px;
    font-weight: 400;
    padding-top: 60px;
}


.highlight {
  color: #e6a25e;
  font-style: italic;
}

.widget-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 40px;
}

.widget {
    background-color: #22222;
    border: 1px solid #e6a25e;
    border-radius: 8px;
    padding: 20px;
    display: inline-block;
    font-size: 23px;
}

.widgettitle {
    font-size: 30px;
    margin-bottom: 20px;
}

.widgetinfo {
    margin-bottom: 10px;
}

.widgettext {
    margin-bottom: 10px
}